.dialog {
    display: grid;
    grid-gap: 10px;
}

.dialog a {
    color: darkcyan;
    display: block;
    border-radius: 5px;
    border: 1px solid darkcyan;
    text-decoration: none;
    padding: 5px;
    background-color: white;
    font-family: Vollkorn sans-serif;

}

.dialog a.active {
    background-color: darkcyan;
    text-decoration: none;
    color: white;
}