.myposts{
    margin: 15px;
}
h1 {
    font-family: Vollkorn, serif;
    text-transform: uppercase;
    text-align: center;
    color: darkcyan;
}

textarea {
    resize: none;
    margin-bottom: 15px;
}