.header {
    grid-area: h;
    display: grid;
    grid-template-columns: 195px 1fr;
    grid-column-gap: 30px;
}

.logo{
    display: inline-grid;
    align-items: center;
    justify-items: center;
    background-color: darkcyan;
    border-radius: 10px;
}
.logo img {
    width: 100px;
}
.title{
    display: inline-grid;
    justify-items: center;
    align-items: center;
    color: white;
    font: normal bold x-large Vollkorn;
    text-transform: uppercase;
    background-color: darkcyan;
    border-radius: 10px;
    padding-left: 20px;
}