.descriptionBlock {
    padding: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.profilePhoto {
    height: 250px;
    border-radius: 50px;

}

.profilePhotoBlock {
    margin-right: 50px;
}

.fullName {
    font: bold xx-large serif;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid darkcyan;
}

.status {
    padding-bottom: 20px;
    text-align: right;
}

.profileData {
    overflow: hidden;
}

.contact {
    padding-left: 20px;

}