.dialogs {
    display: grid;
    grid-template-columns: 3fr 12fr;
    padding: 10px;
}

.messages {
    padding: 10px;
    border: 1px solid darkcyan;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.dialogsItems {
    text-align: center;
}

